.form_style{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

textarea{
    font-size:25px
}

body{
    margin: 0;
}

h1{
    font-style: italic;
    font-family: cursive;
    /* z-index: 700; */
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:lightblue;
    width: fit-content;
    text-align: center;
}


.header_manual
{
    height: 150px;
}

.para{
    font-size: 28px;
}

textarea{
    font-size:25px
}

body{
    margin: 0;
}

.header_manual
{
    height: 150px;
}

.table_manual{
    background-color: lightblue;
    height: 80%;
    border-collapse: collapse;
    font-size: 35px;    
}

tr{
    border: none;
    
}

td{
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-left-style: solid;
    border-right-style: solid;
}
.div_about_me{
    border-left-color: blue;
    border-left-width: 8px;
    border-style:solid;
    direction:rtl;
    padding-top: 105px;
    background-image: url("images/about_me.jpg");
    background-size: cover;
}

.about_me_header{
    font-style: italic;
    font-family: cursive;
    z-index: 700;
    position: relative;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.my_photos_header{
    font-style: italic;
    font-family: cursive;
    filter:brightness(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div_my_photos{
    border-left-color: blue;
    border-left-width: 8px;
    background-image: url("images/Photos\ Frams.PNG");
    border-style:solid;
    direction:rtl;
    position: relative;
}

.my_playlist_header{
    color:black;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.like_header{
    border-left-color: blue;
    border-left-width: 8px;
    border-style:solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-style: italic;
    background-image: url("images/RateUs.png");
    background-size:auto;
}

.div_my_playlist{
    color:black;
    border-left-color: blue;
    border-left-width: 8px;
    background-image: url("images/Music.jpg");
    background-size: 1500px 550px;
    border-style:solid;
    direction:rtl;
    position: relative;
}

.Q_A_header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-style: italic;
}


.div_Q_A{
    border-left-color: blue;
    border-left-width: 8px;
    background-size: 1500px 550px;
    border-style:solid;
    direction:rtl;
    position: relative;
    background-image: url("images/QA.jpg");
    background-size: cover;
}


.back_to_top{
    font-size: 30px;
    color: white;
    text-align: center;
    border-left-width: 8px;
    border-radius: 50px;
    border: 2px solid blue;
    border-width:3px;
    padding: 10px;
}


.div_QR{
    border-left-color: blue;
    border-left-width: 8px;
    border-style:solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction:rtl;
    position: relative;
    background-image: url("images/QR_BG.jpg");
    background-size: cover;
}


.contact_us {
    border-radius: 5px;
    border-left-color: blue;
    border-left-width: 8px;
    border-style:solid;
    padding: 20px;
    background-image: url("images/Contact.jpg");
    background-size:cover;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky_header{
    width:100%;
    height: 50px; 
    position: fixed;
    z-index: 999;
}
